body {
	background-color: #830F14;
}

#add {
  position: absolute;
  top: 240px;
}

#content {
	background-color: #FFF;
	width: 800px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 15px;
	border-radius: 15px;
}

#content img {
	margin: 0;
	padding: 0;
	vertical-align: middle;
  margin-top: -53px;
}

#zipassist {
	display: inline-block;
  padding-left:10px;
	width: 565px;
  line-height: 22px;
}

#ziptitle {
	font-size: 24px;
}

#ziptitle {
	display: inline-block;
}

#zipreleaseyear {
	display: inline-block;
}
#zipreleaseyear {
	color: #777;
}

#zipcats {
	display: inline-block;
}

#zipcats span {
	color: #999;
}

#ziplink a {
	display: block;
	color: #830F14;
}

#error_content {
	display: inline-block;
	width: 565px;
	text-align: center;
}

#appology_top {
	color: #830F14;
	font-size: 24px;
	text-align: left;
}

#appology_mid {
	font-size: 18px;
	text-align: center;
}

#appology_bot {
	font-size: 26px;
	text-align: right;
	color: #830F14;
}

#bookmarklet {
	display: inline-block;
	width: 565px;
	text-align: center;
}

#bookmarklet a {
	font-size: 32px;
	color: #000;
}

#bookmarklet span {
	display: block;
	font-size: 18px;
	color: #777;
}

#description_top {
	color: #830F14;
	font-size: 26px;
	text-align: left;
}
#description_mid {
	font-size: 20px;
	text-align: center;
}
#description_bot {
	color: #830F14;
	font-size: 26px;
	text-align: right;
}
